<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Release</key>
	<dict>
		<key>HermesUrl</key>
		<string>https://zbtest.wechat.athenamuses.cn/zbtest/</string>
		<key>LogPrint</key>
		<string>1</string>
		<key>apnsCertName</key>
		<string>release</string>
	</dict>
	<key>Debug</key>
	<dict>
		<key>HermesUrl</key>
		<string>https://zbtest.wechat.athenamuses.cn/zbtest</string>
		<key>LogPrint</key>
		<string>0</string>
		<key>apnsCertName</key>
		<string>developer</string>
	</dict>
</dict>
</plist>
